* {
    margin: 2%;
    padding: 2%;
    font-family: Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #FFCDB2, #FFB4A2) ;
}

.list_app{
    width: 90%;
    max-width: 90%;
    background:#f3dbce;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}

.list_app h1{
    margin: 2vh;
    color: #6d6875;
    border: black;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#image-list {
    width: 10%;
    max-width: 10%;
    margin: 2%;
    
}

#input-box {
    border-radius: 15px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

#addinput-button{
    border: none;
    outline: none;
    padding: 16px 30px;
    background: #B5838b;
    color: #fff;
    font-size: 14px;
    border-radius: 40px;
}
